@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
}

:root {
    --bg-main-default: #fff;
    --color-amarillo: #ffff00;
    --bg-presentacion: #1FEDD6;
    --bg-api: white;
    --bg-form_process: #1FEDD6;

    --color-2-paleta: #1FEDD6;
    --color-3-paleta: #EDED07;
    --color-4-paleta: #841FED;
    --color-5-paleta: #ED5713;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
    font-size: 16px;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.container-master {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--bg-main-default);
}


/*========================
        HEADER
========================*/

.header {
    position: fixed;
    width: 100%;
    height: 88px;
    z-index: 99;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.header_navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.navbar__logo {
    flex: 0 0 auto;
    width: 50%;
}

.navbar__logo img{
    width: 100%;
}

.navbar-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.sub__navbar-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__btn-mobil svg{
    width: 35px;
    height: 35px;
}
.navbar__mobil {
    display: grid;
    place-content: center;
}
.navbar__mobil a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all .2s ease-in-out;
}
.navbar__mobil a:hover{
    color: rgba(0, 0, 0, 0.6);
    
}

.navbar__btn-login {
    width: auto;
    height: auto;
    color: white;
    font-family: Roboto-Bold;
    font-weight: 900;
    text-decoration: uppercase;
}

.navbar__btn-login:hover {
    color: var(--color-amarillo);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 15px;
    transform: translateY(-2px);
}

.navbar__btn-login:active {
    box-shadow: none;
    transform: translateY(0);
}

.btn-enviar__modal {
    background-color: var(--color-4-paleta);
    color: white; 
}
.btn-enviar__modal:hover {
    background-color: var(--color-4-paleta);
    opacity: .9;
    color: white; 
}

@media (min-width: 768px) {
    .navbar-lado__izquierdo {
        width: 100%;
        height: 100%;
        
    }
    .navbar-lado__derecho {
        width: 80%;
        height: 100%;
        background-color: var(--color-amarillo);
        transition: background-color .3s ease-in-out;
    }
    
    .navbar__logo {
        flex: none;
        width: auto;
    }

    .navbar__logo img{
        width: 100%;
    }

    .navbar-list {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    
    .sub__navbar-list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar__titles {
        height: 100%;
        display: flex;
        gap: 3rem;
        align-items: center;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    .navbar__titles li{
        position: relative;
        list-style: none;
    }
    .navbar__titles li a{
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    .navbar__titles li:hover a{
        color: rgba(0, 0, 0, 0.6);
        transition: all .2s ease-in-out;
    }
    
}

@media screen and (max-width: 1023px) {
    .navbar__titles {
        gap: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {

    .navbar__logo{
        width: 25%;
    }
}


/*========================
        MAIN
========================*/
.main {
    position: relative;
    width: 100%;
    padding-top: 87px;
}

/*======= HERO =======*/

.main-hero {
    position: relative;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-text {
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 2rem 0;
}
.sub__hero-text {
    z-index: 1;
}
.sub__hero-text__title {
    font-family: Poppins-Bold;
    font-size: 2.5rem;
    font-weight: 900;
}
.sub__hero-text__subtitle {
    font-family: Poppins-Regular;
    font-weight: 400;
}

.hero-image {
    background-color: var(--color-amarillo);
    height: 100%;
    width: 100%;
    padding: 2rem 0 150px;
    text-align: center;
}
.hero-image img{
    width: 80%;
}
.hero-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    fill: var(--bg-presentacion);
}
.hero-wave-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5%;
    height: 50%;
    background-color: var(--color-amarillo);
    z-index: 0;
}

@media (min-width: 768px) {

    .main-hero {
        height: 600px;
        flex-direction: row;
    }

    .hero-text {  
        padding-bottom: 150px;
    }
    .sub__hero-text {
        display: grid;
        place-content: center;
    }
    .sub__hero-text__title {
        font-size: 3rem;
        max-width: 550px;
    }
    .sub__hero-text__subtitle {
        display: inline-block;
        max-width: 400px;
        text-align: justify;
    }
    .hero-image {
        width: 80%;
    }
    .hero-image img{
        width: 100%;
        max-width: 600px;
    }
}

/*======= PRESENTACION =======*/

.main-presentacion {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: var(--bg-presentacion);
    display: grid;
    place-items: center;
}

.presentacion__container {
    text-align: center;
    padding: 100px 0 200px 0;
    z-index: 1;
}
.presentacion__title {
    font-family: Poppins-Bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 3rem;
}
.presentacion__text {
    font-size: 1.3rem;
    text-align: justify;
}
.presentacion__text strong{
    font-size: 1.3rem;
    color: var(--color-4-paleta);
}
.presentacion-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    fill: var(--bg-api);
}

.pesentacion__img-fondo {
    z-index: 0;
}
.estrategia1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
}
.estrategia2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}

@media (min-width: 2100px) {
    .estrategia1 {
        width: 25%;
    }
    .estrategia2 {
        width: 25%;
    }
}
@media screen and (max-width: 768px) {
    .estrategia1 {
        right: 50%;
        bottom: 50px;
        width: 45%;
    }
    .estrategia2 {
        left: 60%;
        top: 0;
        width: 40%;
    }
}

/*======= API =======*/

.main-api {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: white;
    text-align: center;
    padding-top: 150px;
}
.api-title {
    font-family: Poppins-Bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.api-container {
    display: grid;
    place-items: center;
    text-align: center;
    padding-bottom:200px;
}
.users-api__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    flex-wrap: wrap;
}
.api-user__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}
.api-user__content:hover {
    transform: scale(0.98);
}
.api-user__content a{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    text-transform: capitalize;

    text-decoration: none;
    color: #212529;
}

.api-user__img{
    max-width: 100px;
    max-height: 100px;
    display: grid;
    place-items: center;
    
}
.api-user__img img{
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.api-user__name {
    font-size: 20px;
}
.api-user__position {
    color: rgba(0, 0, 0, 0.25);
}

.api-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    fill: black;
}

/*======= FORM CONTACT =======*/
.main-form_contact {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-color: black;
    display: grid;
    place-content: center;
}
.formContacto {
    display: grid;
    place-content: center;
    margin: 150px 0 250px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(154, 153, 155, 0.4);
}
#Fcontacto{
    font-family: Poppins-Bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;
    background-color: white;
    height: 100%;
}
#formulario {
    display: grid;
    place-content: center;
    background-color: white;
}
.form__group {
    display: grid;
    gap: 1rem;
}
.custom-select {
    min-height: 40px;
}
#Mostrar {
    margin-bottom: 0.5%;
}

.btn-form__contact {
    background-color: var(--color-4-paleta);
    color: white;
    font-family: Roboto-Regular;
}
.btn-form__contact:hover {
    background-color: var(--color-4-paleta);
    opacity: .9;
    color: white;
}

.form_contact-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    fill: var(--bg-form_process);
}

@media (min-width: 768px) {
    .formContacto {
        padding: 5rem !important;
    }
}


/*======= FORM PROCESS =======*/
.form-wizard-steps {
    margin-left: 18% !important;
}

.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
}
.wizard-content-left h1 {
  color: white;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}

.form-wizard {
  color: black;
  padding: 30px;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
#sumate {
    font-family: Poppins-Bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: white;
}
.form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
  background-color: var(--color-4-paleta);
  color: white;
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
  cursor: pointer;
}
.form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}
a {
    text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
  text-align: center;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #888888;
  background-color: #f1f1f1;
  border: none;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 25px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #d65470;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0;
}
.form-wizard .form-wizard-steps li {
  width: 25%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: gray;
  color: white;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: var(--color-4-paleta);
  left: 50%;
  width: 50%;
  border-color: var(--color-4-paleta);
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: var(--color-4-paleta);
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#PDF {
    margin-bottom: 4%;
}
.wizard-section {
    background-color: var(--color-2-paleta);
    padding: 50px 0 100px 0;
}

.btn-form_process {
    background-color: var(--color-4-paleta);
    color: white;
    font-family: Roboto-Regular;
}
.btn-form_process:hover {
    background-color: var(--color-4-paleta);
    opacity: .9;
    color: white;
}
#textomostrar {
    text-align: center;
    font-family: Roboto-Bold;
    color: #2ec14f;
}
.form_process__textomostrar {
    text-align: center;
    font-family: Roboto-Bold;
    color: #2ec14f;
}

@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0.0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}


/*========================
        FOOTER
========================*/

.footer{
    position: relative;
    background: white;
    color: #959da5;
}

.footer-container {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.footer-sub__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: grid;
    place-items: start;
    gap: 1rem;
}

.link{
    transition: transform .2s; 
    color: #959da5;
    font-size: 14px;
}
.link:hover{
    color: #0969da;
    text-decoration: underline;

}

.redes{
    display: flex;
    gap: 2rem;
}
.redes a i {
    font-size: 20px;
}

.redes a{
    transition: transform .2s; 
    color: #959da5;
}
.redes a:hover{
    transform: scale(1.2);
}

.copyright{
    text-align: center;   
}
.copyright > span{
    font-size: 12px;
}