@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
}

:root {
    --bg-main-default: #fff;
    --color-amarillo: #ffff00;
    --bg-presentacion: #1FEDD6;
    --bg-api: white;

    --color-2-paleta: #1FEDD6;
    --color-3-paleta: #EDED07;
    --color-4-paleta: #841FED;
    --color-5-paleta: #ED5713;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
    font-size: 16px;
}


.container-master {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--bg-main-default);
}


/*========================
        HEADER
========================*/

.header {
    position: fixed;
    width: 100%;
    height: 88px;
    z-index: 99;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.header_navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.navbar__logo img{
    width: 95%;
}

.navbar-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.sub__navbar-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__btn-mobil svg{
    width: 35px;
    height: 35px;
}
.navbar__mobil {
    display: grid;
    place-content: center;
}
.navbar__mobil a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all .2s ease-in-out;
}
.navbar__mobil a:hover{
    color: rgba(0, 0, 0, 0.4);
    
}

.navbar__btn-login {
    width: auto;
    height: auto;
    color: white;
    font-family: Roboto-Bold;
    font-weight: 900;
    text-decoration: uppercase;
}

.navbar__btn-login:hover {
    color: var(--color-amarillo);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 15px;
    transform: translateY(-2px);
}

.navbar__btn-login:active {
    box-shadow: none;
    transform: translateY(0);
}



@media (min-width: 768px) {
    .navbar-lado__izquierdo {
        width: 100%;
        height: 100%;
        
    }
    .navbar-lado__derecho {
        width: 80%;
        height: 100%;
        background-color: var(--color-amarillo);
    }
    
    .navbar__logo img{
        width: 100%;
    }

    .navbar-list {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    
    .sub__navbar-list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar__titles {
        height: 100%;
        display: flex;
        gap: 3rem;
        align-items: center;
    }
    
    
    
    ul {
        margin: 0;
        padding: 0;
    }
    .navbar__titles li{
        position: relative;
        list-style: none;
    }
    .navbar__titles li a{
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    .navbar__titles li:hover{
        transform: translateY(-2px);
        transition: all .2s ease-in-out;
    }
    .navbar__titles li:hover a{
        color: rgba(0, 0, 0, 0.4);
        transition: all .2s ease-in-out;
    }
    /* .navbar__titles li a::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
    .navbar__titles li:hover .navbar__titles li a::after{
        opacity: 1;
        transition: opacity 0.2 ease-in-out;
    } */
    
}

@media screen and (max-width: 1023px) {
    .navbar__titles {
        gap: 1rem;
    }
}


/*========================
        MAIN
========================*/
.main {
    position: relative;
    width: 100%;
    padding-top: 87px;
}

/*======= HERO =======*/

.main-hero {
    position: relative;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-text {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 2rem 0;
}
/* .sub__hero-text {
} */
.sub__hero-text__title {
    font-family: Poppins-Bold;
    font-size: 2.5rem;
    font-weight: 900;
}
.sub__hero-text__subtitle {
    font-family: Poppins-Regular;
    font-weight: 400;
}

.hero-image {
    background-color: var(--color-amarillo);
    height: 100%;
    width: 100%;
    padding: 2rem 0 150px;
    text-align: center;
}
.hero-image img{
    width: 80%;
}
.hero-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    fill: var(--bg-presentacion);
}


@media (min-width: 768px) {

    .main-hero {
        height: 600px;
        flex-direction: row;
    }

    .hero-text {  
        padding-bottom: 150px;
    }
    .sub__hero-text {
        display: grid;
        place-content: center;
    }
    .sub__hero-text__title {
        font-size: 3rem;
        max-width: 550px;
    }
    .sub__hero-text__subtitle {
        display: inline-block;
        max-width: 400px;
        text-align: justify;
    }
    .hero-image {
        width: 80%;
    }
    .hero-image img{
        width: 100%;
        max-width: 600px;
    }
}

/*======= PRESENTACION =======*/

.main-presentacion {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: var(--bg-presentacion);
    display: grid;
    place-items: center;
}

.presentacion__container {
    text-align: center;
    padding: 100px 0 200px 0;
}
.presentacion__title {
    font-family: Poppins-Bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 3rem;
}
.presentacion__text {
    font-size: 16px;
    text-align: justify;
}
.presentacion-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    fill: var(--bg-api);
}

/*======= API =======*/

.main-api {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: white;
    text-align: center;
    padding-top: 100px;
}
.api-title {
    font-family: Poppins-Bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.api-container {
    display: grid;
    place-items: center;
    text-align: center;
    padding-bottom:100px;
}
.users-api__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}
.api-user__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    text-transform: capitalize;
}
.api-user__img{
    max-width: 150px;
    max-height: 150px;
    display: grid;
    place-items: center;
    
}
.api-user__img img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
.api-user__name {
    font-size: 20px;
}
.api-user__position {
    color: rgba(0, 0, 0, 0.25);
}

.api-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    fill: black;
}

/*======= FORM CONTACT =======*/

/*======= FORM PROCESS =======*/


/*========================
        FOOTER
========================*/